<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.Personnel_TrackerConnectionString"
            connectionString="Data Source=.;Initial Catalog=Personnel_Tracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.PersonnelTrackingConnectionString"
            connectionString="Data Source=EXTRANO\SQLEXPRESS;Initial Catalog=PersonnelTracking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>